#animated-cloud-background {
    padding: 20px;
    max-height: 50%;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 140%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 140%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: 0spx;
    }
    100% {
        margin-left: 140%;
    }
}

#animated-cloud-background .cloud {
    position: absolute;
    top: 0;
    left: 0;
}

#animated-cloud-background .cloud.cloud-1 {
    top: 10%;
    left: -500px;
    
	-webkit-animation: animateCloud 90s linear infinite;
	-moz-animation: animateCloud 90s linear infinite;
	animation: animateCloud 90s linear infinite;
	
	-webkit-transform: scale(0.45);
	-moz-transform: scale(0.45);
	transform: scale(0.45);
    
    z-index: -5;
}

#animated-cloud-background .cloud.cloud-2 {
    top: 50%;
    left: -30px;
    
    -webkit-animation: animateCloud 100s linear infinite;
	-moz-animation: animateCloud 100s linear infinite;
	animation: animateCloud 100s linear infinite;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
    
    z-index: -4;
}

#animated-cloud-background .cloud.cloud-3 {
    -webkit-animation: animateCloud 75s linear infinite;
	-moz-animation: animateCloud 75s linear infinite;
	animation: animateCloud 75s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3;
	transform: scale(0.3);
    
    z-index: -3;
}

#animated-cloud-background .cloud.cloud-4 {
    top: 80%;
    
    -webkit-animation: animateCloud 90s linear infinite;
	-moz-animation: animateCloud 90s linear infinite;
	animation: animateCloud 90s linear infinite;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
    
    z-index: -2;
}

#animated-cloud-background .cloud.cloud-5 {
    top: -10%;
    
    -webkit-animation: animateCloud 100s linear infinite;
	-moz-animation: animateCloud 100s linear infinite;
	animation: animateCloud 100s linear infinite;
	
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
    
    z-index: -1;
}