/* Landing Page CSS */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
	background-color: #96E4FF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

#animated-cloud-background {
    padding: 20px;
    max-height: 50%;
}

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 50%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 50%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 50%;
    }
}

#animated-cloud-background .cloud {
    position: absolute;
    top: 0;
    left: 0;
}

#animated-cloud-background .cloud.cloud-1 {
    top: 10%;
    
    -webkit-animation-delay: 30s; 
    animation-delay: 30s; 
    
	-webkit-animation: animateCloud 70s linear infinite;
	-moz-animation: animateCloud 70s linear infinite;
	animation: animateCloud 70s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
    
    z-index: -5;
}

#animated-cloud-background .cloud.cloud-2 {
    top: 40%;
    
    -webkit-animation: animateCloud 80s linear infinite;
	-moz-animation: animateCloud 80s linear infinite;
	animation: animateCloud 80s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
    
    z-index: -4;
}

#animated-cloud-background .cloud.cloud-3 {
    -webkit-animation: animateCloud 55s linear infinite;
	-moz-animation: animateCloud 55s linear infinite;
	animation: animateCloud 55s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
    
    z-index: -3;
}

#animated-cloud-background .cloud.cloud-4 {
    top: 30%;
    
    -webkit-animation: animateCloud 70s linear infinite;
	-moz-animation: animateCloud 70s linear infinite;
	animation: animateCloud 70s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
    
    z-index: -2;
}

#animated-cloud-background .cloud.cloud-5 {
    -webkit-animation: animateCloud 80s linear infinite;
	-moz-animation: animateCloud 80s linear infinite;
	animation: animateCloud 80s linear infinite;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
    
    z-index: -1;
}