/* Landing Page CSS */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

* {
  box-sizing: border-box;
}

body {
	background-color: #96E4FF;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.intro {
    left: 30%;
    position: relative;
    height: 500px;
    width: 100%;
}

.intrologo {
    margin-top: -2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: auto;
    z-index: 1;
}

.date {
    margin-left: 40%;
    margin-top: -8%;
    margin-bottom: -130px;
    text-align: center;
    font-weight: 300;
    color: #FF74AA;
}

.notifyme {
    margin-left: 40%;
    margin-top: 7%;
    margin-bottom: -130px;
    text-align: center;
    font-weight: 300;
    color: #FF74AA;
}